<ng-template #info><p>Select a recipe to view detail</p></ng-template>

<div class="row" *ngIf="expandedRecipe;else info">
  <div class="clo-xs-12"><img src="" alt="" class="img-responsive"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <h1>{{expandedRecipe.name}}</h1>
        </div>
        <div class="col-xs-6">
          <img [src]="expandedRecipe.imagePath" alt="" style="max-height:100px;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li (click)="manageIngredientsService.addIngredientsToShoppingList(expandedRecipe.ingredients)"><a>Add ingredient</a></li>
          <li><a>Edit Recipe</a></li>
          <li><a>Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{expandedRecipe.description}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of expandedRecipe.ingredients">{{ingredient.name}}
        ({{ingredient.amount}})
      </li>
    </ul>
  </div>
  </div>
</div>
